<header>
    <h1 class="text-center">Sun Saver</h1>
</header>




<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/plages/list}">Sun Saver</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/plages/list}" >Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/plages/search}">Recherche de plage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/plages/add}">Ajouter une plage</a>
            </li>
        </ul>
    </div>
</nav>